/* Video Slider Container */
.video-slider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    justify-content: center;  /* Horizontally center the slider */
    align-items: center;  
  }
 
  .slide {
    position: relative;
    height: 70vh;
  }
  
  .slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Text Overlay */
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .overlay h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .overlay p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Slider Dots Customization */
  .slick-dots {
    bottom: 10px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ffdd57;
  }
  